.GameField {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  position: relative;

  border: var(--game-border);

  &_row {
    display: flex;
  }

  &_mask {
    position: absolute;
    top: 0;
    left: 0;
  }
}