.GameCellInner {
  width: var(--game-cell-size);
  height: var(--game-cell-size);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;


  &_content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}